<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- imagen ico -->
   <link rel="shortcut icon" href="{{ url_for('static', filename='kitty.ico') }}" type="image/x-icon">
  <!-- link para usar los estilos css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='cliente.css') }}">
  <!-- link para usar los iconos de bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <!-- link para usar letras de google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nerko+One&family=Playwrite+CU:wght@100..400&display=swap" rel="stylesheet">
  <title>{{titulo}}</title>
</head>
<body>
  
  <div class="titulo">
    <img src="{{ url_for('static', filename='kittymamadisima.jpg') }}" alt="Kitty mamadisima">
    <h1 class="letra">{{titulo}}<i class="bi bi-award-fill"></i></h1>

    <form>
      {{precio.csrf_token}}
      {{precio.mensual.label(class='linletras')}}
      {{precio.mensual(class='cajitas')}}
      {{precio.trimestral.label(class='linletras')}}
      {{precio.trimestral(class='cajitas')}}
      {{precio.anual.label(class='linletras')}}
      {{precio.anual(class='cajitas')}}
    </form>

  </div>

  <div class="menu">
    <div class='buton'><a href="/agregar"><i class="bi bi-person-plus"></i></a></div>
    <div class='buton'><a href="/"><i class="bi bi-box-arrow-right"></i></a></div>
  </div>

  <div class="contenedor">

    <div class="contenedor2"> 
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Cédula</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha de Nacimiento</th>
            <th>Edad</th>
            <th>Membresía</th>
            <th>Tipo de Membresía</th>
            <th>Fecha de Suscripción</th>
            <th>Próximo pago</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for cliente in clientes %}
              <tr>
                  <td>{{cliente.id}}</td>
                  <td>{{cliente.cedula}}</td>
                  <td>{{cliente.nombre}}</td>
                  <td>{{cliente.apellido}}</td>
                  <td>{{cliente.cumpleaños}}</td>
                  <td>{{cliente.edad}}</td>
                  <td>{{cliente.membresia}}</td>
                  <td>{{cliente.tipo_membresia}}</td>
                  <td>{{cliente.fecha_suscripcion}}</td>
                  <td>{{cliente.proximo_pago}}</td>
                  <td>
                      <div class="contenedor3">
                          <div class="botones" id="editar">
                          <a href="/editarcliente/{{cliente.id}}"><i class='bi bi-pencil'></i></a>
                          </div>
                          <div class="botones" id="eliminar">
                          <a href="/eliminarcliente/{{cliente.id}}"><i class='bi bi-trash3'></i></a>
                          </div>
                      </div>
                  </td>
              </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div>

</body>
</html>